.error-icon{
  height: 80px;
  margin-top: 50%;
}

.back-to-home{
  border-color: #3B3B3B;

}

.error-logs-div{
  padding-top: 20px;
}


.error-reason{
  color: #F25757;
  -webkit-user-select: text;
}

.main-error-div{
  overflow: hidden;
  -webkit-user-select: none;
}
